sudo: false

language: php

php:
  - 5.6
  - 7.0

matrix:
 allow_failures:
  - php: nightly
 fast_finish: true

install:
  - composer self-update
  - composer install

cache:
  directories:
    - $HOME/.composer/cache